<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591669875106-49jeeutof25vbivdu4hkbpipl1a0gndl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591669875106-49jeeutof25vbivdu4hkbpipl1a0gndl</string>
	<key>API_KEY</key>
	<string>AIzaSyC9E0641-D-TbFsCTru0VgeV6qrfvMh-Og</string>
	<key>GCM_SENDER_ID</key>
	<string>591669875106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lexkoz.starwars</string>
	<key>PROJECT_ID</key>
	<string>starwars-f08dd</string>
	<key>STORAGE_BUCKET</key>
	<string>starwars-f08dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591669875106:ios:c21836e2acb9cb9ff922fb</string>
</dict>
</plist>